@mixin icomoon{
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

[class^="icon--"]:before, [class*=" icon--"]:before {
   @include icomoon;
}

.icon--spinner:before {
   content: "\e900";
}
.icon--spinner1:before {
   content: "\e901";
}
.icon--spinner2:before {
   content: "\e902";
}
.icon--spinner3:before {
   content: "\e903";
}
.icon--help:before {
   content: "\e904";
}
.icon--list:before {
   content: "\e905";
}
.icon--notification:before {
   content: "\e906";
}
.icon--operations:before {
   content: "\e907";
}
.icon--perfomance:before {
   content: "\e908";
}
.icon--profile:before {
   content: "\e909";
}
