<template>
  <div class="home">
    <h1 class="headline">TEST MY DEVICE</h1>
    <div class="description">We will be testing your camera, microphone, and connection to ensure you have the best Virtual Visit experience.</div>
    <div class="video-box">
      <div :class="{ active: cameraFlag}" class="video-area">
        <video v-if="cameraFlag" ref="video" class="video-content" autoplay></video>
        <img :src="require('@/../src/assets/video-off-avatar.svg')" alt="">
      </div>
      <div class="settings-list">
        <div class="settings-item">
          <div class="settings-item__label"><i class="icon--help"></i>Camera</div>
          <div class="settings-item__right">
            <div class="button-wrapper settings-item__button">
              <div class="button button--secondary">Switch</div>
            </div>
            <label class="checkbox-switch">
              <div v-if="!cameraFlag" class="checkbox-switch__label">Off</div>
              <div v-else class="checkbox-switch__label">On</div>
              <div
                class="checkbox-switch__item checkbox-switch__item--on-right"
              >
                <input
                  @click="toggleVideoStream"
                  type="checkbox"
                />
                <span class="rounded"></span>
              </div>
            </label>
          </div>
        </div>
        <div class="settings-item">
          <div class="settings-item__label"><i class="icon--notification"></i>Microfone</div>
          <label class="checkbox-switch">
            <div v-if="!microFlag" class="checkbox-switch__label">Off</div>
            <div v-else class="checkbox-switch__label">On</div>
            <div
              class="checkbox-switch__item checkbox-switch__item--on-right"
            >
              <input
                v-model="microFlag"
                type="checkbox"
              />
              <span class="rounded"></span>
            </div>
          </label>
        </div>
        <div class="settings-item">
          <div class="settings-item__label"><i class="icon--perfomance"></i>Connectivity</div>
          <div class="settings-item__connect-status"></div>
        </div>
        <div class="button-wrapper settings-list__button-wrapper">
          <div class="button button--full-width">Run Test</div>
        </div>
        <ul class="info-list">
          <li>Make sure you are using the device and network that you will be using at the time of your visit.</li>
          <li>For the best possible visit experience ensure you have a strong internet or cellular service connection.
            <strong>Public Wi-Fi connections are not recommended.</strong></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  data(){
    return {
      cameraFlag: false,
      microFlag: false
    }
  },
  methods: {
    toggleVideoStream() {
      // vice versa the flag
      this.cameraFlag = !this.cameraFlag;
      if ( this.cameraFlag ){
        this.$nextTick(()=>{
          // Grab elements, create settings, etc.
          let video = this.$refs.video;
  
          // Get access to the camera!
          if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true })
              .then(stream => {
              //video.src = window.URL.createObjectURL(stream);
              video.srcObject = stream;
              video.play();
            });
          }
        })
      }
      
    }
  }
}
</script>

<style lang="scss">
  @import "../scss/general/normalize";
  @import "../scss/general/mixin-media";
  @import "../scss/general/mixin-common";
  @import "../scss/general/fonts";
  @import "../scss/common/icons";
  @import "../scss/general/variables";
  @import "../scss/general/checkbox-switch";
  @import "../scss/general/button";
  .home{
    font-family: sans-serif;
    padding: 20px 15px 0;
    box-sizing: border-box;
    
    @include res(tablet){
      padding: 40px 30px 0;
    }
    
    @include res (desktop){
      padding: 160px 76px 0;
    }
  }
  .headline{
    font-size: 30px;
    font-weight: normal;
    color: #61b9d2;
    margin-bottom: 10px;
  }
  .description{
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  .video-box{
    
    @include res(desktop){
      display: flex;
    }
  }
  
  .video-area{
    background-size: contain;
    max-height: 440px;
    width: 100%;
    background: black;
    position: relative;
    overflow: hidden;
    border-radius: 22px;
    
    @include res(desktop){
      max-width: calc(70% - 15px);
      margin-right: 15px;
    }
    
    img{
      max-width: 100%;
      width: 100%;
    }
    
    &.active img{
      transition: opacity .3s;
      opacity: 0;
    }
    
  }
  
  .video-content{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    video{
      width: 100%;
      height: 100%;
    }
  }
  .video-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .settings-list{
    width: 100%;
    
    @include res(desktop){
      margin-left: 15px;
      max-width: calc(30% - 15px);
    }
    
    &__button-wrapper{
      margin: 30px auto;
    }
  }
  .settings-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    border-bottom: 1px solid black;
    
    &__right{
      display: flex;
      align-items: center;
    }
    
    &__label{
      
      i{
        margin-right: 4px;
        display: inline-flex;
      }
    }
    
    &__button{
      margin-right: 5px;
    }
  }
  
  .info-list{
    padding-left: 0;
    
    li{
      list-style-type: none;
      list-style-position: inside;
      margin-bottom: 15px;
      
      &:before{
        content: '-';
        padding-right: 5px;
        
      }
    }
  }
</style>

