%hamb-line{
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 3px;
   border-radius: 4px;
   left: 0;
   background: gray;
   transition: all .3s;
}

.hamb{
   width: 24px;
   min-width: 24px;
   height: 17px;
   box-sizing: border-box;
   cursor: pointer;
   position: relative;
   left: 18px;
   top: 0;
   bottom: 0;
   margin: auto;
   z-index: 3;
   margin-right: 20px;

   /*@include res(desktop){
      display: none;
   }*/

   &:before{
      @extend %hamb-line;
      top: 0;
   }

   &:after{
      @extend %hamb-line;
      bottom: 0;
   }


   &.active{

      &:before{
         transform: rotate(45deg);
         top: 12px;
         height: 1px;
         width: 50%;
         left: -2px;
      }

      &:after{
         transform: rotate(-45deg);
         bottom: 12px;
         height: 1px;
         width: 50%;
         left: -2px;
      }
   }

   &__icon{
      @extend %hamb-line;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: width .2s;

      .active &{
         /* width: 0; */
         height: 1px;
         width: 70%;
         /* left: 0; */
         right: 38%;
      }
   }
}

