.button {
   border-radius: 6px;
   text-decoration: none;
   outline: none;
   text-align: center;
   cursor: pointer;
   box-sizing: border-box;
   font-size: 16px;
   -webkit-tap-highlight-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 36px;
   padding: 0 23px;
   line-height: 1;
   user-select: none;
   color: white;
   border: 1px solid transparent;
   background: #61B9D2;
   position: relative;
   transition: all .3s;

   b{
      font-weight: bold;
   }

   &:hover{
      box-shadow: 0px 10px 12px 0 rgba(61, 89, 151, 0.18);
   }

   &.disabled{
      opacity: .5;
      pointer-events: none;
   }

   &.loading{
      opacity: .5;
      pointer-events: none;
      position: relative;

      i{
         //@include loading;
      }
   }

   i{
      margin: 0 16px 0 0;
      transition: color .3s;
   }

   &--icon{

      &-left{

         i{
            margin-right: 16px;
         }
      }

      &-right{

         i{
            margin: 0 0 0 16px;
         }
      }

      &-red{
         color: $pinkish-red;
      }
   }

   &--edit{
      min-width: 46px;
      padding: 0;
      border-width: 1px;
      margin-right: 10px;

      &:last-of-type{
         margin-right: 0;
      }

      i{
         display: flex;
         align-items: center;
         margin-right: 0;
         color: $blue-primary;
         //font-size: 32px;
         font-size: 24px;
      }
   }

   &--delete{

      i{
         font-size: 16px;
      }
   }

   &--margin{

      &-right{

         &-14{
            margin-right: 14px;
         }
      }
   }

   &--full-width{
      width: 100%;
   }

   &--default{
      border: none;
      background: transparent;
      color: black;
   }

   &--secondary{
      border-color: #B6B6B6;
      background: white;
      color: #B6B6B6;

      &:hover{
         box-shadow: 0px 10px 12px 0 rgba(209, 213, 222, 0.18);
      }
   }

   &--no-bg{
      background: transparent;
   }

   &--border{

      &-thin{
         border-width: 1px;
      }
   }

   &--invert-primary {
      border: 2px solid $blue-primary;
      background: white;

      i{
         color: $blue-primary;
      }

      &:hover{
         background: $blue-primary;
         color: white;

         i{
            color: white;
         }
      }
   }

   &--no-bg{
      background: transparent;
   }

   &--bg{

      &-shamrock{
         background: $shamrock;
         border-color: $shamrock;
      }

      &-denim{
         background: $denim-blue-two;
         border-color: $denim-blue-two;
      }

      &-red{
         background: $pinkish-red;
         border-color: $pinkish-red;
      }

      &-white{
         background: white;
         border-color: white;
         color: $black;
      }
   }

   &-wrapper {
      display: flex;
      justify-content: center;
      box-sizing: border-box;

      &--align {

         &-left {
            justify-content: flex-start;
         }

         &-right {
            justify-content: flex-end;
         }

         &-between{
            justify-content: space-between;
         }
      }

      &--mg-l-r{

         &-15{
            margin-left: 15px;
            margin-right: 15px;
         }
      }
   }
}
