.checkbox-switch{
   display: flex;
   align-items: center;
   cursor: pointer;
   user-select: none;

   &--label-inner{
      margin-bottom: 16px;
      height: 16px;
   }

   &__item{
      width: 35px;
      height: 18px;
      margin-right: 18px;
      position: relative;

      &--on-right{
         margin-right: 0;
         margin-left: 18px;
      }

      input {
         opacity: 0;
         width: 0;
         height: 0;
      }

      span {
         position: absolute;
         cursor: pointer;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: #ccc;
         -webkit-transition: .4s;
         transition: .4s;

         &.rounded{
            border-radius: 34px;

            &:before{
               border-radius: 50%;
            }
         }
      }

      span:before {
         position: absolute;
         content: "";
         height: 14px;
         width: 14px;
         left: 2px;
         bottom: 2px;
         background-color: white;
         transition: .4s;
      }

      input:checked + span {
         background-color: $denim-blue;
      }

      input:focus + span {
         box-shadow: 0 0 1px $denim-blue;
      }

      input:checked + span:before {
         transform: translateX(17px);
      }
   }




   &__label{
      color: $dark-two;

      .error &{
         color: $pinkish-red;
      }
   }

}
