@font-face {
   font-family: 'icomoon';
   src:
         url('~@/assets/fonts/icomoon/icomoon.ttf?sq063q') format('truetype'),
         url('~@/assets/fonts/icomoon/icomoon.woff?sq063q') format('woff'),
         url('~@/assets/fonts/icomoon/icomoon.svg?sq063q#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
}
