//default
html {
   height: 100%;
   width: 100%;
}

body {
   height: 100%;
   font-family: $roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   -webkit-font-smoothing: subpixel-antialiased !important;
   box-sizing: border-box;
   margin: 0 auto;
   position: relative;
   width: 100%;
   //background: $background;

   &.blocked{
      overflow: hidden;
   }

   &.body-login{
      height: 100%;
   }

}

#app{
   //overflow: auto;
   height: 100%;
   box-sizing: border-box;
   padding-top: $header-height;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center; // ie fix

   & > *{
      width: 100%;
      min-width: 100%;
   }

}
