.label{
   height: 22px;
   border-radius: 11px;
   padding: 0 13px;
   display: inline-flex;
   align-items: center;
   font-size: 16px;
   font-weight: bold;
   color: white;
   background: $status-on;
   min-width: 40px;
   box-sizing: border-box;
   justify-content: center;

   &--invert{
      color: $status-on;
      background: $status-on-tr;
   }

   &--excluded{
      color: $pale-red;
      background: $pale-red-bg;
   }

   &--room{
      text-transform: uppercase;
   }

   &--bg{

      &-iris{
         background: $iris;
      }

      &-status-on-tr{
         background: $status-on-tr;
      }

      &-green-blue{
         background: $green-blue;
      }
   }

   &--status{

      &-pending{
         color: $denim-blue-two;
         background: rgba(53, 89, 156, .1);
      }

      &-paid{
         color: $shamrock;
         background: rgba(0, 181, 109, .1);
      }

      &-disabled{
         color: $silver-two;
         background: rgba(193, 196, 198, .2);
      }
   }

   &--color{

      &-white{
         color: white;
      }

      &-status-on{
         color: $status-on;
      }
   }

   &--verified{
      position: relative;
      padding-left: 20px;
      color: $status-on-bright;

      i{
         position: absolute;
         font-size: 30px;
         left: -15px;
         display: flex;
      }
   }
}
