@mixin res($media) {
  @if $media == phone {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $media == phone-land {
    @media screen and (max-width: 812px) and (orientation: landscape) {
      @content;
    }
  } @else if $media == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $media == tablet-only {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $media == mobile {
    @media screen and (max-width: 1023px) {
      @content;
    }
  } @else if $media == desktop {
    @media screen and (min-width: 1024px) {
      @content;
    }
  } @else if $media == hd {
    @media screen and (min-width: 1280px) {
      @content;
    }
  } @else if $media == laptop {
    @media screen and (min-width: 1366px) {
      @content;
    }
  } @else if $media == laptop-plus {
    @media screen and (min-width: 1440px) {
      @content;
    }
  } @else if $media == xlarge-only {
    @media (min-width: 1200px) and (max-width: 1599px) {
      @content;
    }
  } @else if $media == hd-plus {
    @media screen and (min-width: 1600px) {
      @content;
    }
  }  @else if $media == xtop {
    @media screen and (min-width: 992px) and (max-height: 600px){
      @content
    }
  } @else if $media == uwhd {
    @media screen and (min-width: 1921px) {
      @content
    }
  }
}
