@mixin container {
  padding: 0 18px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1206px;
}

@mixin spacing {
  padding: 0 18px;
}
$spacing: 18px;

@mixin link-padding{
  padding: 0 37px;
}

@mixin input{
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: 44px;
  border-radius: 4px;
  border: 1px solid $input-border;
  outline: none;
}

@mixin view-cover {
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

@mixin full-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
