//COLORS
$light-gray:          #F9F9F9;
$input-border:        #f9f9f9;
$black:               #181818;
$dark:                #151619;
$dark-two:            #1f1c26;
$blue-primary:        #3d5997;
$blue-overlay:        rgba(5, 16, 42, 0.86);
$green-blue:          #42c6a5;
$status-on:           #3cb173;
$status-on-bright:    #00B66D;
$status-on-tr:        rgba(60, 177, 115, .1);
$charcoal-grey:       #4f5053;
$charcoal-grey-two:   #343537;
$border-primary:      #d9dee9;
$border-secondary:    #f6f7f9;
$radio-button-bg:     #F1F3F9;
$pale-gray:           #e8ecf0; // field border by default
$pale-gray-three:     #f0f2f4;
$pale-gray-four:      #f9fafc;
$pale-gray-five:      #eef1f5;
$pale-grey-six:       #d8dde4;
$pale-grey-seven:     #f7f8fb;
$pale-grey-eight:     #fbfcfe;
$pale-grey-nine:      #f8f9fb;
$pale-grey-ten:       #e9eef1;
$pale-grey-eleven:    #e7ecf0;
$pale-gray-blue:      #f6faff;
$cool-grey:           #8f9197;
$cool-grey-two:       #afb1b5;
$cool-grey-three:     #aeb2bb;
$denim-blue:          #3d5996; // field border on focus
$denim-blue-two:      #35599c;
$denim-blue-two-rgba: rgba(53, 89, 156, .08);
$denim-blue-three:    #35589c;
$denim-blue-four:     #3c5896;
$pale-red:            #d94146; // field border on error
$pinkish-red:         #ed2c3f;
$pale-red-bg:         rgba(213, 72, 57, .1);
$iris:                #5a53b4;
$steel:               #8c8d90;
$purple-grey:         #949396;
$battleship-grey:     #75767a;
$features-disabled:   #eff2f8;
$features-disabled-2: rgba(61, 89, 151, 0.3);
$shadow-default:      0px 8px 30px 0 rgba(0, 0, 0, 0.04);
$shamrock:            #00b56d;
$shamrock-light:      #24C285;
$shamrock-light-2:    #E6F7F0;
$light-sage:          #e7f8f1;
$light-sm:            #fafefc;
$cloudy-blue:         #d7dde5;
$tangerine:           #ff9000;
$slate-grey:          #646569;
$dusk-blue:           #255890;
$silver:              #cacbcb;
$silver-two:          #c1c4c6;
$silver-three:        #c4c8cf;
$silver-four:         #d2d4d8;
$greyish:             #a5a5a5;
$light-navy-blue:     #335696;
$ligh-grey-blue:      #97acda;
$dark-seafoam:        #19bc7b;
$flat-blue:           #385fa7;



// fonts
$icomoon: 'icomoon' !important;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$default: 'Roboto', sans-serif;

// sizes
$header-height: 68px;
$field-height: 46px;

$stretched: ".icon--stretched";
