<template>
  <div id="app">
    <header class="header">
      <div class="header__logo">
        <img :src="require('@/../src/assets/logo.png')" alt="">
      </div>
      <div class="header__nav">
        <div class="hamb" :class="navMobileStatus" @click="navMobileToggle">
          <div class="hamb__icon"></div>
        </div>
        <nav :class="navMobileStatus" class="nav">
          <div class="nav-list">
            <div class="nav-list__item dropdown">
              <div class="nav-sublist dropdown__list">
                <router-link
                  class="nav-sublist__item"
                  exact
                  tag="div"
                  :to="{ name: 'about' }"
                >
                  <i class="icon--spinner"></i>
                  About
                </router-link>
                <router-link
                  class="nav-sublist__item"
                  exact
                  tag="div"
                  :to="{ name: 'Home' }"
                >
                  <i class="icon--spinner"></i>
                  Home
                  
                </router-link>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="content">
      <router-view/>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data(){
      return {
        mobileNavOpened: false,
      }
    },
    computed: {
      navMobileStatus() {
        return this.mobileNavOpened ? "active" : "";
      },
    },
    methods: {
      navMobileToggle() {
        this.mobileNavOpened = !this.mobileNavOpened;
      },
    }
  }
</script>

<style lang="scss">
  @import "scss/general/normalize";
  @import "scss/general/mixin-media";
  @import "scss/general/mixin-common";
  @import "scss/general/variables";
  @import "scss/general/label";
  @import "scss/header/hamb";
  @import "scss/header/nav/dropdown";
  @import "scss/header/nav/nav";
  @import "scss/header/nav/nav-auth";
  @import "scss/header/nav/nav-list";
  @import "scss/header/nav/nav-sublist";
.header{
  background: #1A406B;
  min-height: 64px;
  padding: 0 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  
  &__logo{
    max-width: 130px;
    
    img{
      max-width: 100%;
    }
  }
  
  &__nav{
  
  }
}

.content{
  max-width: 1352px;
  margin: 0 auto;
}
</style>
