.dropdown{
   cursor: pointer;
   height: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;

   &__link{
      white-space: nowrap;
   }

   &__list{

      @include res(mobile){
         width: 100%;
      }

      @include res(desktop){
         position: absolute;
         overflow: hidden;
         white-space: nowrap;
         top: 100%;
         opacity: 0;
         visibility: hidden;
         transition: all .3s;

         &:before{
            content: '';
            display: block;
            height: 16px;
         }
      }
   }

   @include res(desktop){
      flex-direction: row;
      position: relative;

      &:hover &__list{
         opacity: 1;
         visibility: visible;
      }
   }

}
