.nav{

   @include res(mobile){
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      bottom: 0;
      max-width: 250px;
      width: 100%;
      right: -250px;
      transition: right .5s;
      overflow: hidden;
      background: #1A406B;
      padding-top: $header-height;
      box-shadow: $shadow-default;
      z-index: 2;

      &.active{
         right: 0;
      }

      &:before{
         content: '';
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: $header-height;
         box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.02);
      }
   }

   @include res(desktop){
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      height: 46px;
   }
}
