.nav-sublist{

   @include res(desktop){
      left: 0;
      min-width: 230px;
      /*box-shadow: 0px 8px 30px 0 rgba(0, 0, 0, 0.04);*/


   }

   &__item{
      padding: 0 29px 0 17px;
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      color: white;
      font-family: sans-serif;

      i{
         font-size: 28px;
         color: $blue-primary;
         display: flex;
         align-items: center;
         margin-right: 15px;
      }

      @include res(desktop){
         background: $light-gray;
         @include link-padding;

         &:first-of-type{
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
         }

         &:last-of-type{
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
         }

         &:hover{

         }
      }

   }
}
