$sub-item: '.nav-list__sub-item';
$sub-list: '.nav-item__sub-item';


.nav-list{

   @include res(mobile){
      margin-top: 36px;
   }

   &__item{

   }

   &__link{
      @include link-padding;
      height: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      color: white;

      @include res(mobile){
         width: 100%;
         font-weight: bold;
         padding: 0 47px;
      }

   }

}
