.nav-auth{
   padding-top: 15px;
   overflow: auto;

   @include res(desktop){
      padding: 0;
      overflow: visible;
   }

   i{
      font-size: 22px;
   }

   & &__button{
      white-space: nowrap;

      @include res(mobile){
         margin: 8px 20px;
         justify-content: flex-start;
         padding: 0 19px 0 27px;

         &:before{
            content: '';
            display: block;
            height: 1px;
            background: $pale-gray;
            position: absolute;
            top: -8px;
            left: -20px;
            right: -20px;
            margin: auto;
         }

         &-wrapper{
            flex-direction: column;
         }

         i{
            position: absolute;
            right: 10px;
            margin: 0;
         }

      }

      &--login{

         i{
            color: $blue-primary;
         }
      }
   }


}
